$grid-gutter: 10px;
$grid-columns: 12;
$grid-max: 980px;

/*
|--------------------------------------------------------------------------
| GRID ROW
|--------------------------------------------------------------------------
*/

.ess.grid.row {
  width: 100%;
  display: flex;
}

.ess.grid.row.wrap {
  display: flex;
  flex-wrap: wrap;
}

.ess.grid.row.wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.ess.grid.row.direction-reverse {
  flex-direction: row-reverse;
}

.ess.grid.row.direction-column {
  flex-direction: column;
}

.ess.grid.row.direction-column-reverse {
  flex-direction: column-reverse;
}

.ess.grid.row.justify-start {
  justify-content: flex-start;
}

.ess.grid.row.justify-center {
  justify-content: center;
}

.ess.grid.row.justify-end {
  justify-content: flex-end;
}

.ess.grid.row.align-top {
  align-items: flex-start;
}

.ess.grid.row.align-center {
  align-items: center;
}

.ess.grid.row.align-bottom {
  align-items: flex-end;
}

/*
|--------------------------------------------------------------------------
| COLUMN LARGE
|--------------------------------------------------------------------------
*/

.ess.grid.col {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
}

.ess.grid.col.show { 
  display: flex; 
}

.ess.grid.col.hide { 
  display: none; 
}

@for $grid from 1 through $grid-columns{ 
  .ess.grid.col.width-#{$grid} {
    width: 100% / $grid-columns * $grid;
  }
}

/*
|--------------------------------------------------------------------------
| COLUMN MEDIUM
|--------------------------------------------------------------------------
*/

@media (max-width: 1024px) {

  .ess.grid.col.md-show { 
    display: flex; 
  }
  
  .ess.grid.col.md-hide { 
    display: none; 
  }

  @for $grid from 1 through $grid-columns{ 
    .ess.grid.col.md-width-#{$grid} {
      width: 100% / $grid-columns * $grid;
    }
  }

}

/*
|--------------------------------------------------------------------------
| COLUMN SMALL
|--------------------------------------------------------------------------
*/

@media (max-width: 600px) {

  .ess.grid.col.sm-show { 
    display: flex; 
  }
  
  .ess.grid.col.sm-hide { 
    display: none; 
  }

  @for $grid from 1 through $grid-columns{ 
    .ess.grid.col.sm-width-#{$grid} {
      width: 100% / $grid-columns * $grid;
    }
  }

}

/*
|--------------------------------------------------------------------------
| CONTAINER
|--------------------------------------------------------------------------
*/

.ess.grid.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 16px;
}

.ess.grid.container.center {
  align-items: center;
  justify-content: center;
}