@import "../mixins/colors.scss";

.ess.checkbox {
  font-weight: 500;
  user-select: none;
  padding-left: 22px;
  position: relative;
  display: inline-block;
}

.ess.checkbox input[type=checkbox] {
  top: 0;
  left: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  appearance: none;
  position: absolute;
  border-radius: 6px;
  transition: all .2s ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.ess.checkbox.dark input[type=checkbox] {
  border: 2px solid rgba(0, 0, 0, 1);
}

.ess.checkbox input[type=checkbox]:checked::after {
  top: 9px;
  left: 9px;
  opacity: 0;
  width: 4px;
  content: '';
  height: 4px;
  display: block;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
  animation: checked-one 300ms ease 50ms forwards;
}

.ess.checkbox input[type=checkbox]:checked::before {
  top: 0px;
  opacity: 0;
  height: 4px;
  left: -13px;
  width: 28px;
  content: '';
  display: block;
  position: absolute;
  background: #ffffff;
  transform: rotate(225deg);
  animation: checked-two 300ms ease 0ms forwards;
}

.ess.checkbox input[type=checkbox]:checked {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.0);
}

.ess.checkbox.dark input[type=checkbox]:checked {
  background: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 0.0);
}

.ess.checkbox input[type=checkbox]:checked.shadow {
  box-shadow: 0px 4px 8px #C8CFDB, 0px 0px 4px #C8CFDB;
}

.ess.checkbox.dark input[type=checkbox]:checked.shadow {
  box-shadow: 0px 6px 16px #000000, 0px 0px 8px #000000;
}

.ess.checkbox label {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  padding-left: 5px;
}

.ess.checkbox.dark label {
  color: rgba(255, 255, 255, 0.6);
}

@keyframes checked-one {
  30% {
    opacity: 1;
  }
  100% {
    top: 6px;
    left: 7px;
    opacity: 1;
    width: 14px;
  }
}

@keyframes checked-two {
  30% {
    opacity: 1;
  }
  100% {
    top: 8px;
    left: 5px;
    width: 8px;
    opacity: 1;
  }
}

@each $name, $hex in $colors {
  .ess.checkbox.dark input[type=checkbox].#{$name} {
    border: 2px solid color($name);
  }

  .ess.checkbox input[type=checkbox].#{$name}:checked {
    background: color($name);
    border: 2px solid color($name);
  }
  
  .ess.checkbox input[type=checkbox].#{$name}.illuminate:checked {
    box-shadow: 0px 4px 16px rgba(color($name), 0.75);
  }
}
