// @import "../mixins/colors.scss";

.ess.input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ess.input label {
  width: 100%;
  margin: 8px 8px;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
}

.ess.input.dark label {
  color: rgba(255, 255, 255, 0.6);
}

.ess.input input[type=tel].ess,
.ess.input input[type=url].ess,
.ess.input input[type=text].ess,
.ess.input input[type=date].ess,
.ess.input input[type=time].ess,
.ess.input input[type=week].ess,
.ess.input input[type=email].ess,
.ess.input input[type=month].ess,
.ess.input input[type=number].ess,
.ess.input input[type=search].ess,
.ess.input input[type=password].ess,
.ess.input input[type=datetime-local].ess {
  margin: 0;
  width: 100%;
  outline: none;
  font-size: 14px;
  min-height: 42px;
  appearance: none;
  padding: 0px 20px;
  overflow: visible;
  text-align: justify;
  line-height: normal;
  font-weight: regular;
  display: inline-block;
  background: transparent;
  transition: 200ms all ease-in;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.ess.input.dark input[type=tel].ess,
.ess.input.dark input[type=url].ess,
.ess.input.dark input[type=text].ess,
.ess.input.dark input[type=date].ess,
.ess.input.dark input[type=time].ess,
.ess.input.dark input[type=week].ess,
.ess.input.dark input[type=email].ess,
.ess.input.dark input[type=month].ess,
.ess.input.dark input[type=number].ess,
.ess.input.dark input[type=search].ess,
.ess.input.dark input[type=password].ess,
.ess.input.dark input[type=datetime-local].ess {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.ess.input input[type=tel].ess::placeholder,
.ess.input input[type=url].ess::placeholder,
.ess.input input[type=text].ess::placeholder,
.ess.input input[type=date].ess::placeholder,
.ess.input input[type=time].ess::placeholder,
.ess.input input[type=week].ess::placeholder,
.ess.input input[type=email].ess::placeholder,
.ess.input input[type=month].ess::placeholder,
.ess.input input[type=number].ess::placeholder,
.ess.input input[type=search].ess::placeholder,
.ess.input input[type=password].ess::placeholder,
.ess.input input[type=datetime-local].ess::placeholder {
  transition: all 300ms ease-in-out;
}

.ess.input input[type=tel].ess:focus::placeholder,
.ess.input input[type=url].ess:focus::placeholder,
.ess.input input[type=text].ess:focus::placeholder,
.ess.input input[type=date].ess:focus::placeholder,
.ess.input input[type=time].ess:focus::placeholder,
.ess.input input[type=week].ess:focus::placeholder,
.ess.input input[type=email].ess:focus::placeholder,
.ess.input input[type=month].ess:focus::placeholder,
.ess.input input[type=number].ess:focus::placeholder,
.ess.input input[type=search].ess:focus::placeholder,
.ess.input input[type=password].ess:focus::placeholder,
.ess.input input[type=datetime-local].ess:focus::placeholder {
  font-size: 12px;
}

.ess.input input[type=tel].ess:disabled,
.ess.input input[type=url].ess:disabled,
.ess.input input[type=text].ess:disabled,
.ess.input input[type=date].ess:disabled,
.ess.input input[type=time].ess:disabled,
.ess.input input[type=week].ess:disabled,
.ess.input input[type=email].ess:disabled,
.ess.input input[type=month].ess:disabled,
.ess.input input[type=number].ess:disabled,
.ess.input input[type=search].ess:disabled,
.ess.input input[type=password].ess:disabled,
.ess.input input[type=datetime-local].ess:disabled {
  opacity: .3;
  cursor: not-allowed;
}

.ess.input input[type=tel].ess.rounded,
.ess.input input[type=url].ess.rounded,
.ess.input input[type=text].ess.rounded,
.ess.input input[type=date].ess.rounded,
.ess.input input[type=time].ess.rounded,
.ess.input input[type=week].ess.rounded,
.ess.input input[type=email].ess.rounded,
.ess.input input[type=month].ess.rounded,
.ess.input input[type=number].ess.rounded,
.ess.input input[type=search].ess.rounded,
.ess.input input[type=password].ess.rounded,
.ess.input input[type=datetime-local].ess.rounded {
  border-radius: 6px;
}

.ess.input input[type=tel].ess.pill,
.ess.input input[type=url].ess.pill,
.ess.input input[type=date].ess.pill,
.ess.input input[type=text].ess.pill,
.ess.input input[type=time].ess.pill,
.ess.input input[type=week].ess.pill,
.ess.input input[type=month].ess.pill,
.ess.input input[type=email].ess.pill,
.ess.input input[type=number].ess.pill,
.ess.input input[type=search].ess.pill,
.ess.input input[type=password].ess.pill,
.ess.input input[type=datetime-local].ess.pill {
  border-radius: 9999px;
}

@each $name, $hex in $colors {

  .ess.input input[type=tel].ess.filled.#{$name},
  .ess.input input[type=url].ess.filled.#{$name},
  .ess.input input[type=text].ess.filled.#{$name},
  .ess.input input[type=date].ess.filled.#{$name},
  .ess.input input[type=time].ess.filled.#{$name},
  .ess.input input[type=week].ess.filled.#{$name},
  .ess.input input[type=email].ess.filled.#{$name},
  .ess.input input[type=month].ess.filled.#{$name},
  .ess.input input[type=number].ess.filled.#{$name},
  .ess.input input[type=search].ess.filled.#{$name},
  .ess.input input[type=password].ess.filled.#{$name},
  .ess.input input[type=datetime-local].ess.filled.#{$name} {
    border: none;
    color: #FFFFFF;
    background: color($name);
  }

  .ess.input input[type=tel].ess.filled.#{$name}::placeholder,
  .ess.input input[type=url].ess.filled.#{$name}::placeholder,
  .ess.input input[type=text].ess.filled.#{$name}::placeholder,
  .ess.input input[type=date].ess.filled.#{$name}::placeholder,
  .ess.input input[type=time].ess.filled.#{$name}::placeholder,
  .ess.input input[type=week].ess.filled.#{$name}::placeholder,
  .ess.input input[type=email].ess.filled.#{$name}::placeholder,
  .ess.input input[type=month].ess.filled.#{$name}::placeholder,
  .ess.input input[type=number].ess.filled.#{$name}::placeholder,
  .ess.input input[type=search].ess.filled.#{$name}::placeholder,
  .ess.input input[type=password].ess.filled.#{$name}::placeholder,
  .ess.input input[type=datetime-local].ess.filled.#{$name}::placeholder {
    color: lighten(color($name), 30%);
  }

  .ess.input input[type=tel].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=url].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=text].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=date].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=time].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=week].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=email].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=month].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=number].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=search].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=password].ess.filled.#{$name}.illuminate:focus,
  .ess.input input[type=datetime-local].ess.filled.#{$name}.illuminate:focus {
    box-shadow: 0px 4px 16px rgba($hex, 0.75);
  }

  .ess.input input[type=tel].ess.outlined.#{$name},
  .ess.input input[type=url].ess.outlined.#{$name},
  .ess.input input[type=text].ess.outlined.#{$name},
  .ess.input input[type=date].ess.outlined.#{$name},
  .ess.input input[type=time].ess.outlined.#{$name},
  .ess.input input[type=week].ess.outlined.#{$name},
  .ess.input input[type=email].ess.outlined.#{$name},
  .ess.input input[type=month].ess.outlined.#{$name},
  .ess.input input[type=number].ess.outlined.#{$name},
  .ess.input input[type=search].ess.outlined.#{$name},
  .ess.input input[type=password].ess.outlined.#{$name},
  .ess.input input[type=datetime-local].ess.outlined.#{$name} {
    background: transparent;
  }

  .ess.input input[type=tel].ess.outlined.#{$name}:focus,
  .ess.input input[type=url].ess.outlined.#{$name}:focus,
  .ess.input input[type=text].ess.outlined.#{$name}:focus,
  .ess.input input[type=date].ess.outlined.#{$name}:focus,
  .ess.input input[type=time].ess.outlined.#{$name}:focus,
  .ess.input input[type=week].ess.outlined.#{$name}:focus,
  .ess.input input[type=email].ess.outlined.#{$name}:focus,
  .ess.input input[type=month].ess.outlined.#{$name}:focus,
  .ess.input input[type=number].ess.outlined.#{$name}:focus,
  .ess.input input[type=search].ess.outlined.#{$name}:focus,
  .ess.input input[type=password].ess.outlined.#{$name}:focus,
  .ess.input input[type=datetime-local].ess.outlined.#{$name}:focus {
    border: 1px solid color($name);
  }
  
  .ess.input input[type=tel].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=url].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=text].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=date].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=time].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=week].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=email].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=month].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=number].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=search].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=password].ess.outlined.#{$name}:focus::placeholder,
  .ess.input input[type=datetime-local].ess.outlined.#{$name}:focus::placeholder {
    color: color($name);
  }
}
