// @import "../mixins/colors.scss";

.ess.switch {
  font-weight: 500;
  user-select: none;
  position: relative;
  padding-left: 48px;
  display: inline-block;
}

.ess.switch input[type=checkbox] {
  top: 0;
  left: 0;
  margin: 0;
  width: 40px;
  height: 20px;
  outline: none;
  cursor: pointer;
  appearance: none;
  position: absolute;
  border-radius: 9999px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

.ess.switch.dark input[type=checkbox] {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.ess.switch input[type=checkbox]::after {
  top: 2px;
  left: 2px;
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.4);
  animation: uncheck-switch 150ms forwards ease-in-out;
}

.ess.switch input[type=checkbox]:checked::after {
  animation: check-switch 150ms forwards ease-in-out;
}

.ess.switch.dark input[type=checkbox]::after {
  background: rgba(255, 255, 255, 0.4);
}

.ess.switch input[type=checkbox]:checked.shadow {
  box-shadow: 0px 4px 8px #C8CFDB, 0px 0px 4px #C8CFDB;
}

.ess.switch label {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  padding-left: 5px;
}

.ess.switch.dark label {
  color: rgba(255, 255, 255, 0.6);
}

@keyframes check-switch {
  0%   {left: 8px; width: 12px;}
  50%   {left: 12px; width: 20px;}
  100%  {left: 22px; width: 12px;}
}

@keyframes uncheck-switch {
  0%   {left: 22px; width: 12px;}
  50%   {left: 12px; width: 20px;}
  100%  {left: 2px; width: 12px;}
}

@each $name, $hex in $colors {
  .ess.switch input[type=checkbox].#{$name} {
    background: transparent;
  }

  .ess.switch.dark input[type=checkbox].#{$name} {
    background: transparent;
    border: 2px solid color($name);
  }

  .ess.switch input[type=checkbox].#{$name}:checked {
    background: color($name);
    border: 2px solid color($name);
  }

  .ess.switch.dark input[type=checkbox].#{$name}::after {
    background: color($name);
  }

  .ess.switch input[type=checkbox].#{$name}:checked::after {
    background: #FFFFFF;
  }
 
  .ess.switch input[type=checkbox].#{$name}.illuminate:checked {
    box-shadow: 0px 4px 16px rgba(color($name), 0.75);
  }
}